@font-face {
    font-family: 'OSRSFont';
    src: url('./osrsFont.ttf') format('truetype');
}

body {
    background-color: black;
}

.event-details-container {
    font-size: 30px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'OSRSFont', sans-serif;
    color: #f9d000;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
