.player-buyins {
    margin: 10px;
    flex: 1;
}

.player-buyins h2 {
    text-align: left;
    font-size: 50px;
}

.player-buyins ul {
    list-style-type: none;
    padding: 0;
    text-align: left;
}

.player-buyins ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
    list-style-type: none;
    padding: 0;
    text-align: left;
}
