.toolbar {
    display: flex;
    font-family: 'OSRSFont';
    justify-content: space-between;
    padding: 5px;
    background-color: #f9d000;
  }
  
  .toolbar a {
    color: #000;
    text-decoration: none;
    padding-left: 40px;  /* Adjust as needed */
    padding-right: 40px;  /* Adjust as needed */
  }
  
  .toolbar a:hover {
    color: #007bff;
  }
  
@media (max-width: 600px) {
    .toolbar {
        font-size: 10px;
    }
    .toolbar a {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  