@font-face {
  font-family: 'OSRSFont';
  src: url('osrsFont.ttf') format('truetype');
}

body {
  background-color: black;
}

h1 {
  font-family: 'OSRSFont', sans-serif;
  font-size: 300px;
  text-align: center;
  color: #f9d000;
}
